<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.k.bootweb.mapper.TiebaMapper">
  <sql id="BASE_TABLE">
    tieba
  </sql>

  <sql id="BASE_COLUMN">
    id,uid,username,title,summary,`like`,`Comment`
  </sql>


    <select id="queryTiebaList" resultType="Tieba">
    SELECT
    <include refid="BASE_COLUMN"/>
    FROM
    <include refid="BASE_TABLE"/>
  </select>

  <select id="queryTiebaByLimit" parameterType="map" resultType="Tieba">
    SELECT
    <include refid="BASE_COLUMN"/>
    FROM
    <include refid="BASE_TABLE"/>
    limit #{start},#{end}
  </select>

  <select id="queryTiebaById" resultType="Tieba">
    select <include refid="BASE_COLUMN"/> from <include refid="BASE_TABLE"/> where id = #{id}
  </select>

  <select id="getTiebaListNum" resultType="int">
    select count(*) from <include refid="BASE_TABLE"/>
  </select>

  <insert id="addTieba" parameterType="Tieba">
    insert into user (username,title,summary,like,comment) values (#{id},#{title},#{summary},#{like},#{comment})
  </insert>

  <update id="updateTieba" parameterType="Tieba">
    update tieba set name=#{name},title=#{title} where id = #{id}
  </update>

  <delete id="deleteTieba" parameterType="int">
    delete from tieba where id = #{id}
  </delete>

  <update id="updateCommentCount">
    update tieba set comment = #{commentCount} where id = #{id}
  </update>
</mapper>